.sidebarchat {
  /* flex: 1; */
  display: flex;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.sidebarchat_add {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
  /* text-align: center; */
  margin-left: 10px;

}

.sidebarchat_add:hover {
  background-color: #ebebeb;

}

.sidebarchat_add>h2 {
  font-size: 20px;
}

.sidebarchat_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.sidebarchat_info>span {
  font-size: 14px;
  margin-left: 2px;
}

.sidebarchat:hover {
  background-color: #ebebeb;
}

.sidebarchat_info>h3 {
  font-size: 15px;
}